# Ignore all .dll files
 *.dll

# Ignore folder .vs and biit nary folders
.vs/
WebSocketApplicationWorker/WebSocketApplicationWorker/bin/
WebSocketApplicationWorker/WebSocketApplicationWorker/obj/

WebSocketApplicationSender/WebSocketApplicationSender/bin/
WebSocketApplicationSender/WebSocketApplicationSender/obj/